@use '../../styles/variables' as v;

.player_bet {
  text-align: center;
  justify-content: center;
}
.match {
  font-family: v.$main-font;
  display: grid;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  border-collapse: collapse;
  h5 {
    margin-top: 10px;
  }
  .button-groupe {
    align-self: end;
  }
}
.match_timer {
  margin-top: 10px;
}
.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 25px;
    min-width: 25px;
    margin-right: 10px;
    background: v.$cell-back;
    box-shadow: 0 0 2px 2px v.$shadow;
    border-radius: 100%;
    &:checked {
      background: black;
      &:before {
        content: url(../../assets/design/basketball-solid.svg);
        filter: invert(43%) sepia(15%) saturate(5000%) hue-rotate(346deg) ;
      }
    }
  }
  .team-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
    label {
      display: flex;
      align-items: center;
    }
  }
  img {
    width: 2.7rem;
    margin: 0 0.5rem;
  }
}
button {
  font-family: v.$main-font;
}

#diff {
  border: none;
  width: 60px;
  height: 20px;
  margin-left: 1rem;
  background: rgba(217, 217, 217, 0.5);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width : 768px) {
  #player_bet {
    text-align: center;
  }
  .player_bet {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 10px;
  }
  .match {
    min-width: 20%;
    height: 370px;
  }
}
