@use '/src/styles/variables' as v;

#connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  form {
    width: 100%;
    div {
      justify-content: space-between;
      align-items: center;
    }
  }
  div {
    margin: 0.7rem 0;
    display: flex;
  }
  label {
    width: 40%;
  }
  label, button {
    font-family: v.$main-font;
    margin-right: 0.3rem;
    font-size: 1rem;
  }
  button, input, select {
    border: unset;
    padding: 0.3rem;
    border-radius: 5px;
  }
  input, select {
    background: v.$cell-back;
    box-shadow: 0 0 2px 2px v.$shadow;
    width: 200px;
  }
  .special-input {
    div {
      margin: 0.2rem 0;
      width: 100%;
      align-items: center;
    }
    p {
      margin: 0.2rem 0;
    }
  }
  #passwordInput {
    position: relative;
    .wrapper-strength{
      position: absolute;
      top: 33px;
      right: 0px;
      flex-wrap: nowrap;
      width: 200px;
    }
    p {
      margin-right: 5px;
    }
  }
  .password {
    width: 100%;
  }
  .error-message {
    color: red;
    text-shadow: 0 0 2px v.$shadow;
    margin-top: 1.3rem;
  }
  .dmfc-opt {
    align-items: center;
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      height: 15px;
      width: 15px;
      border-radius: 100%;
    }
    input[type="checkbox"]:checked {
      background: black;
      &:before {
        content: url(/src/assets/design/basketball-solid.svg);
        filter: invert(43%) sepia(15%) saturate(5000%) hue-rotate(346deg) ;
        position: absolute;
        width: 15px;
        height: 15px;
        margin: -5px -5px;
      }
    }
  }
  
  .form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    button {
      width: 70%;
      margin: 0.3rem 0;
      background: v.$nav-back;
      color: v.$orange;
      border: unset;
      &:hover {
        background: v.$orange;
        color: v.$nav-back;
      }
    }
    .forgotten {
      margin-top: 10px;
      font-size: 1rem;
      text-decoration: underline;
      color: rgb(194, 0, 0);
      text-shadow: 0 0 2px v.$shadow;
    }
  }
}
  #logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    button {
      margin-top: 30px;
  }
}

@media screen and (min-width : 768px) {
  #connexion {
    width: 45%;
    .login, .password, .leagueChoice, .leagueCreation, #passwordInput, .mailContainer, .dmfc-opt {
      width: 85%;
    }
  }
  .form-btn {
    width: 280px;
  }
  #logout {
    width: 70%;
    button {
      width: fit-content;
      padding: 0 10px;
    }
  }
}