@use '/src/styles/variables' as v;

#connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin: 0.7rem 0;
    display: flex;
  }
  label {
    width: 120px;
  }
  input {
    width: 300px
  }
  label, button {
    font-family: 'Bangers';
    margin-right: 0.7rem;
    font-size: 1.1rem;
  }
  button, input, select {
    border: unset;
    padding: 0.3rem;
    border-radius: 5px;
  }
  input, select {
    background: v.$cell-back;
    box-shadow: 0 0 2px 2px v.$shadow;
  }
  .dmfc-opt {
    input {
    width: auto;
    }
    input[type="checkbox"] {
      accent-color: v.$orange;
    }
  }
  .form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 70%;
      margin: 0.3rem 0;
      background: v.$nav-back;
      color: v.$orange;
      border: unset;
      &:hover {
        background: v.$orange;
        color: v.$nav-back;
      }
    }
  }
}

@media screen and (min-width : 800px) {
  #connexion {
    width: 45%;
    align-items: center;
  }
}

@media screen and (min-width : 1050px) {
  #connexion {
    form {
      width: 70%;
    }
  }
}
