@use '/src/styles/variables' as v;

#connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin: 0.7rem 0;
    display: flex;
  }
  label {
    width: 100px;
  }
  label, button {
    font-family: v.$main-font;
    margin-right: 0.3rem;
    font-size: 1rem;
  }
  button, input, select {
    border: unset;
    padding: 0.3rem;
    border-radius: 5px;
  }
  input, select {
    background: v.$cell-back;
    box-shadow: 0 0 2px 2px v.$shadow;
    width: 200px;
  }
  .special-input {
    flex-direction: column;
    align-items: end;
    div {
      margin: 0.2rem 0;
    }
    p {
      margin: 0.2rem 0;
    }
  }
  #passwordInput {
    position: relative;
    .wrapper-strength{
      position: absolute;
      top: 33px;
      right: 0px;
      flex-wrap: nowrap;
      align-items: center;
      width: 300px;
    }
  }
  .error-message {
    color: red;
    text-shadow: 0 0 2px v.$shadow;
  }
  .dmfc-opt {
    align-items: center;
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      height: 15px;
      width: 15px;
      border-radius: 100%;
    }
    input[type="checkbox"]:checked {
      background: black;
      &:before {
        content: url(/src/assets/design/basketball-solid.svg);
        filter: invert(43%) sepia(15%) saturate(5000%) hue-rotate(346deg) ;
        position: absolute;
        width: 15px;
        height: 15px;
        margin: -5px -5px;
      }
    }
  }
  
  .form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 70%;
      margin: 0.3rem 0;
      background: v.$nav-back;
      color: v.$orange;
      border: unset;
      &:hover {
        background: v.$orange;
        color: v.$nav-back;
      }
    }
  }
}
#logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  button {
    margin-top: 30px;
  }
}

@media screen and (min-width : 768px) {
  #connexion {
    width: 45%;
    align-items: center;
  }
}

@media screen and (min-width : 1050px) {
  #connexion {
    input, select {
      width: 300px
    }
    form {
      width: 70%;
    }
  }
}
