@use '/src/styles/variables' as v;

.to-the-top {
  font-family: 'Bangers';
  font-size: 1rem;
  display: none;
  border: none;
  background: v.$nav-back;
  color: v.$orange;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  cursor: cell;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  &:hover {
    background: v.$orange;
    color: v.$nav-back;
  }
}

@media screen and (min-width : 768px) {
  .to-the-top {
    bottom: 20px;
    right: 20px;
    font-size: 1.2rem;
  }
}