@use '/src/styles/variables' as v;

.success {
  .Toastify__toast-container {
    margin-top: 20em;
    font-size: 1.6em;
    padding: 1em;
    font-family: v.$main-font; 
    width: auto;
  }

  .Toastify__progress-bar {
    background-color: v.$orange; 
  }

  .Toastify__close-button {
    color: v.$orange; 
    width: auto;
  }

  .Toastify__toast-icon {
    margin-right: 0.56em;
  }
}

.error {
  .Toastify__toast-container {
    margin-top: 20em;
    font-size: 1.6em;
    padding: 1em;
    font-family: v.$main-font; 
    width: auto;
  }

  .Toastify__progress-bar {
    background-color: red;
  }

  .Toastify__close-button {
    color: red;
    width: auto;
  }

  .Toastify__toast-icon {
    margin-right: 0.56em;
  }
}