@use '/src/styles/variables' as v;

.Toastify__toast-container {
  margin-top: 10em;
  font-size: 1.6em;
  padding: 1em;
  font-family: v.$main-font;
  width: auto;
}

.Toastify__progress-bar--success {
  background-color: green;
}
.Toastify__progress-bar--info {
  background-color: v.$orange;
}
.Toastify__progress-bar--warning {
  background-color: red;
}

.Toastify__close-button {
  color: v.$orange;
  width: auto;
}

.Toastify__toast-icon {
  margin-right: 0.56em;
}