$orange: #FF7200;
$light-orange: rgba(255,114,0,0.3);
$cell-back: rgba(217,217,217,0.5);
$nav-back: #323232;
$shadow: rgba(0,0,0,0.5);

// Charli
$titles: white;
$back: black;
$main-font: 'Days One';
$transparent: rgba(0, 0, 0, 0.5);
$orange-clear: rgba(255, 114, 0, 0.5);
// Quentin


// Fabien
