@use '/src/styles/variables' as v;

.modal-open {
  overflow: hidden;
}
.modal-box_container {
  z-index: 98;
  position: absolute;
  top: -200px;
  width: 120vw;
  height: 125vh;
  background-color: rgba(0, 0, 0, 0.8);
  button {
    margin-top: 10%;
  }
}
.modal-box_content {
  z-index: 99;
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 33%;
  border-radius: 2%;
  width: 80%;
  text-align: center;
  p {
    font-family: v.$main-font;
  }
  button {
    margin-top: 2rem;
  }
}

@media screen and (min-width : 768px) {
  .modal-box_container {
    z-index: 98;
    position: absolute;
    width: 120vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.8);
    button {
      margin-top: 10%;
    }
  }
  .modal-box_content {
    z-index: 99;
    background-color: rgba(255, 255, 255, 1);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 2%;
    width: 30%;
    button {
      margin-top: 2rem;
    }
  }
}