@use '/src/styles/variables' as v;

.paragraph {
  line-height: 1.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.titles {
  display: flex;
  justify-content: space-around;
}
.usefull-links {
  margin-top: 1em;
}
.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pop-up-boxes {
  display: flex;
  flex-direction: column;
}
.pop-up-click {
  border: 1px solid v.$shadow;
  background-color: v.$orange-clear;
}
.roster-east, .roster-west, .schedules-east, .schedules-west{
  display: block;
  gap: 12em;
  margin: 1.5em;
  .column {
    display: flex;
    justify-content: space-between;
    li {
      a {
        display: block;
        padding: 3px;
        width: 45px;
        border: 1px solid v.$shadow;
        margin-bottom: 5px;
        text-align: center;
        text-decoration: none;
        color: v.$orange;
        background-color: v.$nav-back;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width : 768px) {
  .pop-up-boxes {
    flex-direction: row;
    justify-content: space-around;
  }
  .rosters, .schedules {
    width: 45%;
  }
}