@use '../../styles/variables' as v;

#profil-page {
  margin-top: 3em;
  width: 90%
};

.profil {
  line-height: 2.5em;
  p {
    font-family: v.$main-font;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }
};

.perso {
  color:v.$orange;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.03em black;
};

#profil-change {
  width: 90%
};

.change-info {
  display: flex;
  line-height: 1em;
  div {
    margin: 0.2rem 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    label {
      font-family: v.$main-font;
      font-size: 1.1rem;
      margin-bottom: 0.6rem; 
    }
    button, input, select{
      border: unset;
      padding: 0.3rem;
      border-radius: 5px;
      width: 100%;
    }
    input, select {
      background: v.$cell-back;
      box-shadow: 0 0 2px 2px v.$shadow;
      width: 200px;
    }
    .form-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin: 0.3rem 0;
        background: v.$nav-back;
        color: v.$orange;
        border: unset;
        width: fit-content;
        &:hover {
          background: v.$orange;
          color: v.$nav-back;
        }
      }
    }
  }
};


@media screen and (min-width: 768px) {
  .change-info {
    div {
      flex-direction: row;
    }
    label, input, select  {
      margin-right: 1em;
    }
  }
};

@media screen and (min-width: 1024px) {
  #profil-page, #profil-change {
    max-height: 100vh;
    margin-top: 3em;
  }
  #profil-change {
    width: fit-content;
    .changeContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .inputContainer {
      width: 81%;
      place-content: space-between;
    }
    #passwordInput {
      position: relative;
      .wrapper-strength{
        position: absolute;
        top: 28px;
        right: 105px;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  }
  #profil-page {
    width: fit-content;
    min-width: 25%;
  }
  .profil {
    align-self: flex-start;
    line-height: 3em;
  }
  .change-info {
    line-height: 3em;
    div {
      align-items: baseline;
    }
  }
};