@use '../../styles/variables' as v;

#profil-page {
  margin-top: 3em;
}

.profil {
  line-height: 2em;
  p {
    font-family: v.$main-font;
    text-align: center;
  }
}
.perso {
  color:v.$orange;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
}
.change-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-top: 0.3em;
    margin: 0.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; 

    label {
      font-family: v.$main-font;
      font-size: 1.1rem;
      margin-bottom: 0.6rem; 
    }

    button, input, select{
      border: unset;
      padding: 0.3rem;
      border-radius: 5px;
      width: 100%;
    }

    input, select {
      background: v.$cell-back;
      box-shadow: 0 0 2px 2px v.$shadow;
      width: 200px;
    }

    .form-btn {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        margin: 0.3rem 0;
        background: v.$nav-back;
        color: v.$orange;
        border: unset;
        width: fit-content;
        &:hover {
          background: v.$orange;
          color: v.$nav-back;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .change-info {
    div {
      flex-direction: row;
      align-items: center; 
    }
    label, input, select  {
      margin-right: 1em;
    }
  }
}

@media screen and (min-width: 1024px) {
  #profil-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
  #profil-page {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
  }
  
  .profil {
    align-self: flex-start;
    line-height: 3em;
  }
  
  .change-info {
    align-self: flex-end;
    margin-top: -15em;
  }
}