@use '../../styles/variables' as v;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: v.$back;
  text-align: center;
  color: v.$titles;
  display: flex;
  align-items: center;
  height: 2em;
  justify-content: left;
  padding: 0 20px;
  font-family: v.$main-font;
  font-size: 3em;
  box-shadow: 0 5px 4px 0 v.$light-orange;
  h1 {
    margin: 0 20px;
  }
  img {
    height: 1.8em; 
    margin-top: 0.1em;
  }
  .logo-two{
    display: none;
  }

  @media (min-width: 768px) {
    justify-content: space-evenly;
    .logo-two{
      display: unset;
    }
    .logo-one, .logo-two {
      width: 116px;
    }
  }
}


