@use '../../styles/variables' as v;


.navbar {
  background: v.$nav-back;
  color: v.$titles;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2em;
  font-family: v.$main-font;
  font-size: 2em;

a {
  margin-left: 0.6em;
  margin-right: 1.6em;
}
}