@use '../../styles/variables' as v;


.navbar {
  background: v.$nav-back;
  color: v.$titles;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2em;
  font-family: v.$main-font;
  font-size: 1.6em;
  width: 100%;
  position: relative;
  right: 0;
  top: 20;
  z-index: 99;
  
  .menu {
    margin-left: 0.6em;
    margin-right: 1.6em;
    color: v.$titles;

    &--active{ 
    color: v.$orange;
    }
    
    &:hover {
      background: v.$orange;
      color: v.$nav-back;
    }
}

  @media (max-width: 1000px) {
    display: none;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2em;
  height: 2em;
  position: absolute; 
  top: 3em;
  right: 1em;
  gap: 0.5em;


  @media (max-width: 768px) {
    margin-top: -1.5em;
  }
  .bar {
    width: 100%;
    height: 100%; 
    background-color: v.$orange; 
    border-radius: 10em; 
 
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}

.show-menu {
  display: block;
  padding: 0.5em; 
  text-align: right; 
  background-color: v.$nav-back;
  height: 100%;
  max-width: fit-content;
  margin-left: auto;
  position: fixed;

  a {
    color: v.$titles; 
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0.5em;
  }
}





