@use '../../styles/variables' as v;


.footer{
  background: v.$back;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: v.$titles;
  padding: 0.5em;
  text-align: center;
  font-family: v.$main-font;
  margin-top: 1rem;
  box-shadow: 0 -5px 4px 0 v.$light-orange;
}
.footer a {
  display: inline-block;
  width: 125px;
  &:hover {
    color: v.$orange;
  }
}