@use '../../styles/variables' as v;


.footer{
  background: url('/src/assets/design/wood-black.png');
  position: fixed;
  bottom: 0;
  width: 100%;
  color: v.$titles;
  padding: 0.5em;
  text-align: center;
  font-family: v.$main-font;
  box-shadow: 0 -5px 4px 0 v.$light-orange;
}
.footer a {
  display: inline-block;
  width: 200px;
  font-size: 0.9rem;
  &:hover {
    color: v.$orange;
  }
}