@use '/src/styles/variables' as v;

#GeneralStats {
  h3 {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 80px;
  }
}
.return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}