@use '/src/styles/variables' as v;

#GeneralStats {
  width: 90%;
  .title-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
    .team-infos {
      display: flex;
      align-items: center;
      margin: 10px 0;
      h4 {
        padding: 0;
      }
      .logo {
        width: 80px;
        margin: 10px;
      }
    }
  }
  .prediction-stats {
    p {
      margin-bottom: 0.5rem;
    }
  }
}