@use '/src/styles/variables' as v;

#GeneralStats {
  width: 90%;
  .title-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    .team-infos {
      display: flex;
      align-items: center;
      margin: 10px 0;
      h4 {
        padding: 0;
        margin: 0 0 10px;
      }
      .logo {
        width: 80px;
        margin: 10px;
      }
    }
  }
  .prediction-stats {
    h4 {
      margin: 0 0 10px;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  .return-btn {
    flex-direction: column;
  }
}
.arrow {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

@media screen and (min-width : 768px) {
  .arrow {
    width: auto;

}

}