.eye-open {
  content: url('/src/assets/design/eye.svg');
  filter: opacity(50%);
}

.eye-close {
  content: url('/src/assets/design/eye-off.svg');
  filter: opacity(50%);
}

.password {
  align-items: center;
  
}
.input-field {
  justify-content: flex-end;
  position: relative;
  span {
    position: absolute;
    right: 5px;
    div {
      height: 20px;
    }
  }
}